.p0 {
    padding: 0;
}
.pt0 {
    padding-top: 0;
}
.pb0 {
    padding-bottom: 0;
}
.pl0 {
    padding-left: 0;
}
.pr0 {
    padding-right: 0;
}
.pHalf {
    padding: 0;
}
.ptHalf {
    padding-top: .5rem;
}
.pbHalf {
    padding-bottom: .5rem;
}
.plHalf {
    padding-left: .5rem;
}
.prHalf {
    padding-right: .5rem;
}
.p1 {
    padding: 1rem;
}
.pt1 {
    padding-top: 1rem;
}
.pb1 {
    padding-bottom: 1rem;
}
.pl1 {
    padding-left: 1rem;
}
.pr1 {
    padding-right: 1rem;
}
.p2 {
    padding: 2rem;
}
.pt2 {
    padding-top: 2rem;
}
.pb2 {
    padding-bottom: 2rem;
}
.pl2 {
    padding-left: 2rem;
}
.pr2 {
    padding-right: 2rem;
}
.p3 {
    padding: 3rem;
}
.pt3 {
    padding-top: 3rem;
}
.pb3 {
    padding-bottom: 3rem;
}
.pl3 {
    padding-left: 3rem;
}
.pr3 {
    padding-right: 3rem;
}
.p4 {
    padding: 4rem;
}
.pt4 {
    padding-top: 4rem;
}
.pb4 {
    padding-bottom: 4rem;
}
.pl4 {
    padding-left: 4rem;
}
.pr4 {
    padding-right: 4rem;
}
.p5 {
    padding: 5rem;
}
.pt5 {
    padding-top: 5rem;
}
.pb5 {
    padding-bottom: 5rem;
}
.pl5 {
    padding-left: 5rem;
}
.pr5 {
    padding-right: 5rem;
}
.p6 {
    padding: 6rem;
}
.pt6 {
    padding-top: 6rem;
}
.pb6 {
    padding-bottom: 6rem;
}
.pl6 {
    padding-left: 6rem;
}
.pr6 {
    padding-right: 6rem;
}
.p10 {
    padding: 10rem;
}
.pt10 {
    padding-top: 10rem;
}
.pb10 {
    padding-bottom: 10rem;
}
.pl10 {
    padding-left: 10rem;
}
.pr10 {
    padding-right: 10rem;
}